.details {
    gap: 20rem;
    padding-top: 27rem;

    &__item {
        gap: 15rem;
    }

    &__title {
        gap: 7rem;

    }

    .text {
        white-space: nowrap;
    }

    svg {
        height: 30rem;
        width: auto;
    }

    &__divider {
        height: 22rem;
        width: auto;
    }
}