.weather-today {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 29rem;
    /* padding-left: 20rem; */

    .weather-today {
        &__temp {
            align-items: flex-start;
            justify-content: flex-start;
            gap: 13rem;

            .temp {
                &__value {
                    font-weight: 100;
                    font-size: 164rem;
                    letter-spacing: 4.1rem;
                }

                &__units {
                    position: relative;
                    right: 0;
                    top: 0;
                    width: 62rem;
                    height: 99rem;

                    .units {
                        &__degree {
                            position: absolute;
                            left: 0;
                            top: 0;
                            font-size: 32rem;
                            font-weight: 400;
                            letter-spacing: -1.6rem;
                        }

                        &__symbol {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            font-size: 70rem;
                            font-weight: 400;
                            letter-spacing: normal;
                        }
                    }
                }
            }
        }

        &__date {
            align-items: flex-start;
            justify-content: flex-start;
            gap: 36rem;

            .date {
                &__full-date {
                    font-size: 40rem;
                    letter-spacing: normal;
                }

                &__time {
                    align-items: center;
                    justify-content: flex-start;
                    gap: 17rem;

                    .day {
                        font-size: 36rem;
                        letter-spacing: normal;
                    }

                    .time {
                        font-size: 50rem;
                        letter-spacing: 1.25rem;
                    }
                }
            }
        }
    }
}