.additional-info {
    gap: 3rem;
    width: fit-content;
    text-align: center;

    &__content {
        justify-content: center;
        gap: 11rem;
    }

    &__icon {
        width: auto;
        height: 19rem;
    }
}