.switcher {
    position: relative;
    display: inline-block;
    width: 120rem;
    height: 50rem;

    &__value {
        position: absolute;
        top: 0rem;
        left: 0rem;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;

        span {
            display: block;
        }
    }

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.switcher__toggle:before {
            transform: translateX(55rem);
        }
    }

    &__toggle {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(196, 196, 196, 0.25);
        transition: all .4s ease-in-out;
        border-radius: 100rem;


        &:before {
            position: absolute;
            content: "";
            height: 50rem;
            width: 65rem;
            left: 0rem;
            bottom: 0rem;
            box-shadow: 0rem 4rem 10rem rgba(0, 0, 0, 0.2), 0rem 0rem 10rem rgba(0, 0, 0, 0.2);
            border-radius: 40rem;
            background: rgba(196, 196, 196, 0.25);
            transition: all .4s ease-in-out;
        }
    }
}
