.weather-card {
    width: 130rem;
    max-width: 130rem;
    height: 210rem;
    min-height: 210rem;
    padding: 15rem 10rem 25rem;
    justify-content: space-between;
    border-radius: 20rem;
    background: rgba(214, 214, 214, 0.40);
    /* box-shadow: 3rem -2rem 14rem -1rem rgba(255, 255, 255, 0.60); */
    overflow: hidden;
    flex-shrink: 0;

    &__icon {
        width: 80rem;
        height: auto;
        object-fit: contain;
    }

    .subtitle {
        text-align: center;
    }

    /*  &__container {
        width: 170rem;
        max-width: 170rem;
        height: 210rem;
        padding: 0 20rem;
    } */
}