.location {
    gap: 23px;
    z-index: 1;
    transition: all 0.5s ease-in-out;

    &_hidden {
        opacity: 0;
    }

    &__container {
        width: 100%;
        padding: 20px 0;
        position: relative;
    }

    &__icon {
        width: 32px;
        height: auto;
        flex-shrink: 0;
        overflow: visible;
    }

    &__button {
        cursor: pointer;
        padding: 12px;
        border-radius: 20px;
        /* background: linear-gradient(117deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
        backdrop-filter: blur(5px); */
        z-index: 11;

        img {
            width: 35px;
            height: auto;
            flex-shrink: 0;
            transition: all 0.5s ease-in-out;
        }

        &_close {
            img {
                transform: rotate(135deg);
            }
        }
    }
}