.sidebar {
    flex: 4;
    background-color: rgba(214, 214, 214, 0.1);

    &__sunrise-sunset {
        width: 100%;
        justify-content: space-around;
    }

    &__divider {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.26);

    }

    &__additional-info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 70px;
        justify-items: center;
    }
}