.sunrise-sunset {
    gap: 25rem;

    &__card {
        height: 281rem;
        width: 140rem;
        justify-content: space-around;
        padding: 10rem 10rem ;
        border-radius: 50rem;
        background: rgba(255, 255, 255, 0.25);
        flex-shrink: 0;
    }

    &__clock {
        height: 63rem;
        width: 63rem;
        position: relative;

        .clock {

            &__hour,
            &__minute {
                position: absolute;
                height: 23rem;
                width: 3rem;
                margin: auto;
                top: -36%;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.48);
                transform-origin: bottom center;
                box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.4);
                z-index: 1;
                border-radius: 50%;
            }

            &__minute {
                height: 31rem;
                width: 2rem;
                top: -48%;
                background: rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.4);
                transform: rotate(90deg);
            }

            &__dot {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 4rem;
                height: 4rem;
                border-radius: 100%;
                background: white;
                border: 1rem solid white;
                margin: auto;
                z-index: 1;
            }
        }
    }

    svg {
        width: 90rem;
        height: 90rem;
    }
}