.content {
    align-items: flex-start;
    flex: 6;
    max-width: 60%;
    min-height: 100vh;
    gap: 25rem;
    /* padding-left: 30rem; */

    //1920rem
    // align-items: flex-start;
    // justify-content: space-around;
    // padding: 20rem 50rem;
    // padding-left: 30rem;


    &_header {
        width: 100%;
        gap: 20rem;
        /* padding-bottom: 20rem; */
        /* padding-left: 20rem; */

        .icon_actual {
            width: auto;
            height: 100rem;
            object-fit: contain;
        }
    }
}