.forecast {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    /* padding-top: 55rem; */
    padding-top: 20rem;

    &__slider {
        flex: 2 158rem;
        min-width: 0;
        /* transition: all 0.1s ease-in-out; */

        /* &::part(container) {
            padding: 20rem 0;
            margin: -20rem 0;
        } */
    }

    &__button {
        padding: 10rem 60rem 10rem 0;
        transition: all 0.1s ease-in-out;

        &#forecast__next {
            padding: 10rem 0 10rem 60rem;
            justify-content: flex-end;
        }

        &.hidden {
            width: 0;
            padding: 0;
            overflow: hidden;
            visibility: hidden;

            &#forecast__next {
                padding: 0;
            }
        }

        img,
        svg {
            cursor: pointer;
            width: auto;
            height: 54.366rem;
            flex-shrink: 0;
        }
    }
}