@include md {
    .content {
        max-width: 100%;
        gap: 16rem;
    }
}

@include sm {
    .content {
        // justify-content: space-around;
        gap: 8rem;

        &_header {
            gap: 15rem;

            .icon_actual {
                height: 60rem;
            }
        }
    }
}