@include md {
    .switcher {
        height: 59rem;

        &__toggle {
            border-radius: 50rem;

            &:before {
                border-radius: 50rem;
            }
        }
    }
}

@include sm {
    .switcher {
        width: 80rem;
        height: 40rem;

        &__container {
            width: 80rem;
        }
    }
}